{% extends 'base.html' %}
{% load staticfiles %}
{% block vip_right %}
<div class="vipRight">
   <h2 class="vipTitle">卖家中心</h2>

   <form action="/vip/" method="post" class="registerform" enctype="multipart/form-data">
       {% csrf_token %}
      <table class="grzx" width="705" border="0" cellspacing="0" cellpadding="0">
         <tr>
          <td width="90"><span>*</span>真实姓名：</td>
          <td width="430"><input name="name" type="text" class="text inputxt" value="{{ vip.user }}"/> </td>
          <td rowspan="8" valign="top">
              <div id="tx" ><img src="/static/{{ vip.photo }}" /></div>
            <span class="file"><input name="img" type="file" class="file1" /></span>
              <input type="file" name="img">
              <button type="submit">上传</button>
        </tr>
          </td>

        <tr>
          <td><span>*</span>所在城市：</td>
            <td><input type="text"  class="text inputxt" value="{{ vip.city }}" name="city"></td>
        </tr>
        <tr>
          <td>&nbsp;性别：</td><td><input type="text" value="{{ vip.sex }}"  class="text inputxt" name="sex"></td>
{#          <td>#}
{#              <input type="radio" name="2" value="checked" id="person" class="pr1" datatype="*" nullmsg="请选择性别！"  />#}
{#            男　#}
{#            <input type="radio" name="2"  id="company" class="pr1" />#}
{#            女</td>#}
        </tr>
        <tr>
          <td>&nbsp;EMAIL:</td>
          <td><input type="text" class="text1"  value="{{vip.email}}" datatype="e"  name="email"/></td>
        </tr>
        <tr>
          <td>&nbsp;身份证:</td>
          <td><input  type="text" class="text1 "  value="{{vip.ID_num}}" datatype="idcard"  name="ID_num" nullmsg="请填写身份证号码！" errormsg="您填写的身份证号码不对！必须位数字且不低于18位" /></td>
        </tr>

        <tr>
          <td>&nbsp;个人简介：</td>
          <td><textarea tip="请在这里输入您的简介。" altercss="gray" class="gray" value={{ vip.intro }}   datatype="*"  name="intro" >{{ vip.intro }}</textarea></td>
        </tr>
        <tr>
            <td>&nbsp;</td>

            <td><input name="" value="保存资料" type="submit" class="submit" /></td>
        </tr>
      </table>
      </form>
  </div><!--vipRight/-->
  <div class="clears"></div>
{% endblock %}