{% extends 'base.html' %}
{% block vip_right %}
<div class="vipRight">
   <h2 class="vipTitle"> 修改地址 </h2>

   <form action="/vip_modify/{{ address.id }}/"  method="POST"  class="registerform">
       {% csrf_token %}
      <table class="grzx" width="705" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="90">收货人：</td>
          <td><input type="text" class="text inputxt" name="name1" value="{{ address.name }}" datatype="*6-16" /></td>
        </tr>
        <tr>
          <td>所在地区：</td>
          <td><input type="text" class="text inputxt"  name="city1" value="{{ address.city}}" datatype="*"  /></td>
        </tr>
        <tr>
          <td>街道地址：</td>
          <td><input type="text" class="text inputxt"  name="address1" value="{{ address.address}}" datatype="*"/></td>
        </tr>
          <tr>
          <td>邮编：</td>
          <td><input   type="text" class="text inputxt"  name="code1" value="{{ address.code}}" datatype="*"/></td>
        </tr>
          <tr>
          <td>联系电话：</td>
          <td><input  type="text" class="text inputxt"  name="tel1" value="{{  address.tel}}" datatype="*"/></td>
        </tr>
        <tr>
          <td><input name="" value="修改" type="submit" class="submit" /></td>
          <td></td>
        </tr>
      </table>
      </form>
  </div><!--vipRight/-->
<div class="clears"></div>

{% endblock %}