{% extends 'base.html' %} }
{% block vip_right %}


  <div class="vipRight">
   <h2 class="vipTitle">我的订单</h2>
   
   <h2 class="oredrName">
    我的订单 <span style="margin-left:40px;">待发货 <span class="red">10</span> </span>
    <span>待收货 <span class="red">15</span></span>
    </h2>
    <table class="vipOrder">
     <tr>
      <td><a href="proinfo.html"><img src="/static/images/phone.png" width="60" height="55"></a></td>
      <td>张益达</td>
      <td>￥16.9<br />支付宝支付</td>
      <td>2014年6月23日11:32:17</td>
      <td><a href="success.html"><strong>等待付款</strong></a></td>
      <td><a href="vipXiaofei.html">查看</a></td>
     </tr>
     <tr>
      <td><a href="proinfo.html"><img src="/static/images/phone.png" width="60" height="55"></a></td>
      <td>张益达</td>
      <td>￥16.9<br />支付宝支付</td>
      <td>2014年6月23日11:32:17</td>
      <td><a href="success.html"><strong>等待付款</strong></a></td>
      <td><a href="vipXiaofei.html">查看</a></td>
     </tr>
     <tr>
      <td><a href="proinfo.html"><img src="/static/images/phone.png" width="60" height="55"></a></td>
      <td>张益达</td>
      <td>￥16.9<br />支付宝支付</td>
      <td>2014年6月23日11:32:17</td>
      <td><a href="success.html"><strong>等待付款</strong></a></td>
      <td><a href="vipXiaofei.html">查看</a></td>
     </tr>
     <tr>
      <td><a href="proinfo.html"><img src="/static/images/phone.png" width="60" height="55"></a></td>
      <td>张益达</td>
      <td>￥16.9<br />支付宝支付</td>
      <td>2014年6月23日11:32:17</td>
      <td><a href="success.html"><strong>等待付款</strong></a></td>
      <td><a href="vipXiaofei.html">查看</a></td>
     </tr>
     <tr>
      <td><a href="proinfo.html"><img src="/static/images/phone.png" width="60" height="55"></a></td>
      <td>张益达</td>
      <td>￥16.9<br />支付宝支付</td>
      <td>2014年6月23日11:32:17</td>
      <td><a href="success.html"><strong>等待付款</strong></a></td>
      <td><a href="vipXiaofei.html">查看</a></td>
     </tr>
    </table><!--vipOrder/-->
  </div><!--vipRight/-->
  <div class="clears"></div>
{% endblock %}