{% extends 'base.html' %}
{% load staticfiles %}
{#{% block css %}#}
{#<link type="text/css" href="css/css.css" rel="stylesheet" />#}
{#<script type="text/javascript" src="/static/js/js/jquery-1.9.1.min.js"></script>#}
{#<script type="text/javascript" src="/static/js/js.js"></script>#}

<!--瀑布流效果-->

{#<script type="text/javascript" src="/static/js/js/notification.js"></script>#}
{#<script type="text/javascript" src="/static/js/js/bigimg.js"></script>#}
{#<script type="text/javascript" src="/static/js/js/jquery.lazyload.min.js" ></script>#}
{#<script type="text/javascript" src="/static/js/js/blocksit.min.js"></script>#}
{#<script type="text/javascript" src="/static/js/js/pubu.js"></script>#}
{#<link rel="stylesheet" href="/static/css/css/bigimg.css" type="text/css"/>#}
{#<link rel="stylesheet" href="/static/css/css/pubu.css" type="text/css" media='screen'/>#}
{#{% endblock %}#}
{% block nav_left %}{% endblock %}
{% block vip_right %}
 <div class="xuanshang">
  <div class="xuanBox">
   <dl>
    <dt><a href="#"><img src="/static/images/xuan.gif" /></a></dt>
    <dd>
     <h3>星星星</h3>
     <strong>地区：</strong>上海<br />
     <strong>性别：</strong>男<br />
     <strong>年龄：</strong>25<br />
    </dd>
    <div class="clearfix"></div>
   </dl>
   <div class="xuanPars">
   <strong>定制要求：</strong>从具体市场排名来看，首位的
三星出货量为5630万部，市场份额为
31.3%；苹果位列第二，出货量为2690万
部，市场份...... <a href="xuaninfo.html"><strong>更多&gt;&gt;</strong></a>
   </div><!--xuanPars/	-->
  </div><!--xuanBox/-->
  <div class="xuanBox">
   <dl>
    <dt><a href="#"><img src="/static/images/xuan1.gif" /></a></dt>
    <dd>
     <h3>星星星</h3>
     <strong>地区：</strong>上海<br />
     <strong>性别：</strong>男<br />
     <strong>年龄：</strong>25<br />
    </dd>
    <div class="clearfix"></div>
   </dl>
   <div class="xuanPars">
   <strong>定制要求：</strong>从具体市场排名来看，首位的
三星出货量为5630万部，市场份额为
31.3%；苹果位列第二，出货量为2690万
部，市场份...... <a href="xuaninfo.html"><strong>更多&gt;&gt;</strong></a>
   </div><!--xuanPars/	-->
  </div><!--xuanBox/-->
  <div class="xuanBox">
   <dl>
    <dt><a href="#"><img src="/static/images/xuan2.gif" /></a></dt>
    <dd>
     <h3>星星星</h3>
     <strong>地区：</strong>上海<br />
     <strong>性别：</strong>男<br />
     <strong>年龄：</strong>25<br />
    </dd>
    <div class="clearfix"></div>
   </dl>
   <div class="xuanPars">
   <strong>定制要求：</strong>从具体市场排名来看，首位的
三星出货量为5630万部，市场份额为
31.3%；苹果位列第二，出货量为2690万
部，市场份...... <a href="xuaninfo.html"><strong>更多&gt;&gt;</strong></a>
   </div><!--xuanPars/	-->
  </div><!--xuanBox/-->
  <div class="xuanBox">
   <dl>
    <dt><a href="#"><img src="/static/images/xuan3.gif" /></a></dt>
    <dd>
     <h3>星星星</h3>
     <strong>地区：</strong>上海<br />
     <strong>性别：</strong>男<br />
     <strong>年龄：</strong>25<br />
    </dd>
    <div class="clearfix"></div>
   </dl>
   <div class="xuanPars">
   <strong>定制要求：</strong>从具体市场排名来看，首位的
三星出货量为5630万部，市场份额为
31.3%；苹果位列第二，出货量为2690万
部，市场份...... <a href="xuaninfo.html"><strong>更多&gt;&gt;</strong></a>
   </div><!--xuanPars/	-->
  </div><!--xuanBox/-->
  <div class="xuanBox">
   <dl>
    <dt><a href="#"><img src="/static/images/xuan.gif" /></a></dt>
    <dd>
     <h3>星星星</h3>
     <strong>地区：</strong>上海<br />
     <strong>性别：</strong>男<br />
     <strong>年龄：</strong>25<br />
    </dd>
    <div class="clearfix"></div>
   </dl>
   <div class="xuanPars">
   <strong>定制要求：</strong>从具体市场排名来看，首位的
三星出货量为5630万部，市场份额为
31.3%；苹果位列第二，出货量为2690万
部，市场份...... <a href="xuaninfo.html"><strong>更多&gt;&gt;</strong></a>
   </div><!--xuanPars/	-->
  </div><!--xuanBox/-->
  <div class="xuanBox">
   <dl>
    <dt><a href="#"><img src="/static/images/xuan1.gif" /></a></dt>
    <dd>
     <h3>星星星</h3>
     <strong>地区：</strong>上海<br />
     <strong>性别：</strong>男<br />
     <strong>年龄：</strong>25<br />
    </dd>
    <div class="clearfix"></div>
   </dl>
   <div class="xuanPars">
   <strong>定制要求：</strong>从具体市场排名来看，首位的
三星出货量为5630万部，市场份额为
31.3%；苹果位列第二，出货量为2690万
部，市场份...... <a href="xuaninfo.html"><strong>更多&gt;&gt;</strong></a>
   </div><!--xuanPars/	-->
  </div><!--xuanBox/-->
  <div class="xuanBox">
   <dl>
    <dt><a href="#"><img src="/static/images/xuan2.gif" /></a></dt>
    <dd>
     <h3>星星星</h3>
     <strong>地区：</strong>上海<br />
     <strong>性别：</strong>男<br />
     <strong>年龄：</strong>25<br />
    </dd>
    <div class="clearfix"></div>
   </dl>
   <div class="xuanPars">
   <strong>定制要求：</strong>从具体市场排名来看，首位的
三星出货量为5630万部，市场份额为
31.3%；苹果位列第二，出货量为2690万
部，市场份...... <a href="xuaninfo.html"><strong>更多&gt;&gt;</strong></a>
   </div><!--xuanPars/	-->
  </div><!--xuanBox/-->
  <div class="xuanBox">
   <dl>
    <dt><a href="#"><img src="/static/images/xuan3.gif" /></a></dt>
    <dd>
     <h3>星星星</h3>
     <strong>地区：</strong>上海<br />
     <strong>性别：</strong>男<br />
     <strong>年龄：</strong>25<br />
    </dd>
    <div class="clearfix"></div>
   </dl>
   <div class="xuanPars">
   <strong>定制要求：</strong>从具体市场排名来看，首位的
三星出货量为5630万部，市场份额为
31.3%；苹果位列第二，出货量为2690万
部，市场份...... <a href="xuaninfo.html"><strong>更多&gt;&gt;</strong></a>
   </div><!--xuanPars/	-->
  </div><!--xuanBox/-->
  <div class="xuanBox">
   <dl>
    <dt><a href="#"><img src="/static/images/xuan3.gif" /></a></dt>
    <dd>
     <h3>星星星</h3>
     <strong>地区：</strong>上海<br />
     <strong>性别：</strong>男<br />
     <strong>年龄：</strong>25<br />
    </dd>
    <div class="clearfix"></div>
   </dl>
   <div class="xuanPars">
   <strong>定制要求：</strong>从具体市场排名来看，首位的
三星出货量为5630万部，市场份额为
31.3%；苹果位列第二，出货量为2690万
部，市场份...... <a href="xuaninfo.html"><strong>更多&gt;&gt;</strong></a>
   </div><!--xuanPars/	-->
  </div><!--xuanBox/-->

  <div class="clearfix"></div>
 </div><!--xuanshang/-->
{% endblock %}
